@font-face {
  font-family: 'Nunito Sans Black';
  src: url(/assets/fonts/Nunito_Sans/NunitoSans-Black.ttf) format("truetype");
}
@font-face {
  font-family: 'Montserrat Light';
  src: url(/assets/fonts/Montserrat/Montserrat-Light.ttf) format("truetype");
}
@font-face {
  font-family: 'Montserrat Regular';
  src: url(/assets/fonts/Montserrat/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url(/assets/fonts/Montserrat/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
  font-family: 'Montserrat Black';
  src: url(/assets/fonts/Montserrat/Montserrat-Black.ttf) format("truetype");
}

.body {
  margin: 0;
  width: 100%;
  min-width: 200px;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
}

.bootstrapGrid {
  box-sizing: border-box;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}
