@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Nunito+Sans:900';

$backgroundColor: #0c0c0c;
$accentColor: #0f33ff;
$activeTextColor: #ffffff;
$sectionNavSideColor: #1b1b1b;

$transition: 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);

.html {
  background-color: $backgroundColor;
  font-size: 16px;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  perspective: 1000px;
}

// --- Utility ---
.inactive {
  display: none;
}

// --- Generic ---
.globalBtn {
  padding: 0.5em;
  background-color: $accentColor;
  text-transform: uppercase;
  color: $activeTextColor;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Montserrat';
  font-weight: 700;
  width: max-content;
}
.col12bootstrapGrid {
  width: 100%;
  height: 100%;
  transform-style: initial;
  box-sizing: border-box;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 calc(100% / 12 / 3);
}
.col10bootstrapGrid {
  width: 100%;
  height: 100%;
  transform-style: initial;
  box-sizing: border-box;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 0 calc(100% / 10 / 3);
}

// --- mainMenu ---
.mainMenu {
  grid-column: 8 / span 3;
  grid-row: 1 / span 1;
  display: grid;
  height: 100%;
  align-items: center;
  justify-items: end;
  font-size: 55px;
}
.mainMenuElement {
  position: relative;
  top: 0.275em;
  width: max-content;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: $activeTextColor;
  list-style: none;
  height: 1.5em;
  cursor: pointer;
  margin-left: auto;
  transition: $transition;
  transform: translateX(300%) translateY(300%);
  opacity: 0;

  &:before {
    transition: $transition;
    content: '';
    display: block;
    position: absolute;
    top: 0.55em;
    right: -12.5%;
    width: 0;
    height: 0.275em;
    visibility: hidden;
    background-color: $accentColor;
  }
}
.mainMenuElement_current {
  &:before {
    width: 125%;
    visibility: visible;
  }
}
.mainMenuElement_appear {
  transform: translateX(0) translateY(0);
  opacity: 1;
}

// --- mainMenuBtn ---
.mainMenuBtn {
  outline: none;
  display: block;
  grid-column: 12 / span 1;
  padding: 10px;
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
}

// --- pageContainer ---
.pageContainer {
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: $backgroundColor;
  width: 100%;
  height: 100%;
  transition: $transition;
  outline: $accentColor solid 2em;
  transform-origin: center left;
  padding: 2vh 6vw 4vh 6vw;
  grid-template-rows: max-content auto;
}
.pageContainer_zoomedOut {
  transform: translateZ(-750px) translateX(-22.5%) rotateY(45deg);
}
.pageReturnArea {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999;
  box-shadow: 0px 5px 27px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

// --- pageHeader ---
.pageHeader {
  grid-template-rows: auto;
  padding: 1em 0;
  grid-column: 1 / span 12;
  grid-row: 1 / span 1;
  display: grid;
  justify-items: center;
  align-items: center;
}

// --- headerBtn ---
.headerBtn {
  font-size: 14px;
  letter-spacing: 0.08em;
  width: 6.43em;
  height: 2.22em;
  grid-column: 6 / span 2;
}

// --- logo* ---
.logo {
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 2.4em auto;
  justify-self: stretch;
  justify-items: start;
  align-items: center;
}
.logoImg {
  height: 1.75em;
}
.logoText {
  padding-top: 0.15em;
  color: $activeTextColor;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
}

// --- sectionNavContainer ---
.sectionNavContainer {
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  justify-self: stretch;
  align-self: stretch;
  border-left: 2px solid $sectionNavSideColor;
  display: grid;
  align-content: space-evenly;
}

// --- sectionNavLinePoints ---
.sectionNavLinePointContainer {
  position: relative;
  font-size: 14px;
  display: grid;
  width: 100%;
  height: 4px;
  grid-template-columns: max-content max-content;
}
.sectionNavLinePointContainer_active {
  top: -0.5em;
}
.sectionNavLinePoint {
  position: relative;
  left: -3px;
  width: 4px;
  height: 4px;
  margin: auto 0;
  background-color: lighten($sectionNavSideColor, 25%);
  border-radius: 1000px;
}
.sectionNavLinePoint_active {
  background-color: #fff;
  transition: $transition;
}
.sectionNavLinePoint_selected {
  background-color: $accentColor;
}

// --- sectionName ---
.sectionName {
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: darken($activeTextColor, 50%);
  letter-spacing: 0.05em;
  font-size: 1em;
  display: grid;
  grid-template-columns: 2em 2.5em auto;
  transition: $transition;
  transform: translateX(1.25em);
}
.sectionName__number {
  grid-column: 1 / span 1;
  cursor: pointer;
}
.sectionName__name {
  grid-column: 3 / span 1;
  visibility: hidden;
  transition: $transition;
  opacity: 0;
}
.sectionName_nameShown {
  color: $activeTextColor;
  transform: translateX(-3.25em);

  .sectionName__name {
    visibility: visible;
    opacity: 1;
  }

  .sectionName__number {
    cursor: default;
  }
}
// --- sectionsContainer ---
.sectionsContainer {
  position: relative;
  grid-column: 3 / span 10;
  grid-row: 2 / span 1;
  align-self: stretch;
}
// --- pageControls ---
.pageControls {
  position: absolute;
  left: -3em;
  height: 100%;
  display: grid;
}
// --- pageControlBtn ---
.pageControlBtn {
  cursor: pointer;
  border: none;
  background: none;
  width: 3em;
  padding: 0 0.5em;
  font-size: inherit;
  outline-color: $activeTextColor;
}
.pageControlBtn:hover {
  .pageControlBtn__img_up {
    transform: rotate(90deg) translateX(-20%);
  }
  .pageControlBtn__img_down {
    transform: rotate(-90deg) translateX(-20%);
  }
}
.pageControlBtn__img {
  transition: $transition;
  width: 100%;
}
.pageControlBtn__img_up {
  transform: rotate(90deg);
}
.pageControlBtn__img_down {
  transform: rotate(-90deg);
}
// --- pageSection ---
.pageSection {
  width: 100%;
  height: 100%;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: $transition;
  transform: scale(1.2);
  // tmp styles
  color: white;
  text-align: center;
  border: 2px dashed white;
}
.pageSection_active {
  visibility: visible;
  opacity: 1;
  top: 0;
  transform: scale(1);
}
.pageSection_above {
  top: -125%;
}
.pageSection_below {
  top: 125%;
}
