@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

$dark-bg: #344b61;
$bright-bg: #f57979;
$main-text: #262626;
$second-text: #fff;
$dark-text: #808080;
$placeholder: #f8f8f8;
$dark-placeholder: #f3f3f3;
$gray-placeholder: #e7e7e7;
$main-width: 80rem;

@mixin btn {
  border: none;
  border-radius: 1000px;
  height: 5rem;
  width: 18.2rem;
  outline: none;
  cursor: pointer;
}
@mixin link-animation {
  &::after {
    content: "";
    display: block;
    transition: 0.3s;
    height: 2px;
    margin-top: 2px;
    background: $bright-bg;
    transform: scaleX(0);
  }

  &:hover:after {
    height: 2px;
    transform: scaleX(1);
  }
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: $second-text;
  overflow-x: hidden;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bright-bg;
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: $main-width;
    height: 9rem;
    color: $second-text;
    font-weight: bold;
    font-size: 3.4rem;

    .header-span {
      font-size: 1.5rem;
      font-weight: 300;
      letter-spacing: 0.08rem;
    }
  }
  .main {
    display: flex;
    width: $main-width;
    height: 52rem;
    flex-direction: column;
    justify-content: none;
    align-items: center;

    p {
      text-align: center;
      width: 70rem;
      margin: 5rem 0;
      color: $second-text;
      font-size: 1.6rem;
      letter-spacing: 0.12rem;
      font-weight: 300;
      line-height: 3rem;
    }

    .main-img {
      width: 12rem;
      margin: 3rem 0;
    }

    .main-span {
      font-family: 'Muli', 'Open Sans';
      font-weight: 300;
    }

    .main-btn {
      @include btn;
      background: $dark-bg;
      color: $second-text;
      font-size: 1.85rem;
      letter-spacing: 0.08rem;
    }
  }
}

.features {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: $dark-bg;

  &::after {
    content: "";
    position: absolute;
    bottom: -1.2rem;
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 1.3rem solid $dark-bg;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
  }

  .content {
    width: $main-width;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .feature-box {
      position: relative;
      width: 33.33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 7.5rem;
      padding-bottom: 12rem;

      .feature-img {
        width: 3.5rem;
        margin-bottom: 4rem;
      }

      .feature-link {
        @include link-animation;

        position: absolute;
        top: 18.5rem;
        color: $bright-bg;
        font-family: 'Muli', 'Open Sans';
        font-weight: 300;
        text-decoration: none;
        font-size: 1.7rem;
      }
    }
  }
}

.blog {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 6rem;

  .blog-content {
    width: $main-width;

    .blog-img {
      display: block;
      width: 100%;
      min-height: 30rem;
      background: $placeholder;
    }

    .blog-heading {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      height: 6rem;

      .blog-links {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
          width: 2rem;
          margin: 0 1rem;
        }
        .profile-link {
          @include link-animation;
          color: $bright-bg;
          font-size: 2rem;
          margin: 0 0.5rem;
        }
      }
    }

    p {
      color: $dark-text;
      margin-top: 4rem;
      margin-bottom: 3rem;
      font-weight: 400;
      hyphens: auto;
    }

    .blog-button {
      @include btn;
      width: 15rem;
      background-color: $bright-bg;
      color: $second-text;
      font-weight: 400;
      font-size: 2rem;
    }
  }
}

.gallery {
  background-color: $placeholder;
  padding: 6rem 0;

  .gallery-content {
    width: $main-width;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    h3 {
      text-align: center;
      margin-top: 5rem;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 30%;
        background-color: $gray-placeholder;
        margin: 4rem auto;
      }
    }

    p {
      width: 100%;
      margin-bottom: 3rem;
    }

    .carts {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .cart {
        background-color: $second-text;
        width: 30%;
        border-radius: 0.5rem;

        .cart-img {
          width: 100%;
          min-height: 15rem;
          background-color: $gray-placeholder;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
        }

        h5 {
          margin: 2rem 2rem 0 2rem;
        }

        .cart-footer {
          margin: 2rem;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .cart-link {
            @include link-animation;
            color: $bright-bg;
            font-size: 1.7rem;
          }

          img {
            width: 2rem;
            margin: 0.5rem;
          }
        }
      }
    }
  }
}

.concepts {
  background-color: $second-text;

  .concepts-content {
    width: $main-width;
    margin: 0 auto;

    .concept-divider {
      width: 100vw;
      height: 2px;
      background-color: $dark-placeholder;
      position: absolute;
      left: 0;
    }

    .concept {
      width: 100%;
      padding: 6rem 0;
      display: flex;

      .concept-text {
        p {
          margin: 3rem 0;
        }

        .concept-btn {
          @include btn;
          background-color: $bright-bg;
          color: $second-text;
          font-size: 2.2rem;
        }
      }

      img {
        display: block;
        min-width: 20rem;
        min-height: 20rem;
        max-width: 20rem;
        max-height: 20rem;
        margin-top: 1rem;
        background-color: $dark-placeholder;
      }

      &:first-child .concept-text {
        padding-left: 5rem;
      }

      &:last-child .concept-text {
        padding-right: 5rem;
      }
    }
  }
}

.testimonials {
  padding: 7rem 0;
  background-color: $bright-bg;

  .testimonials-content {
    width: $main-width;
    margin: 0 auto;
    text-align: center;

    h3 {
      color: $second-text;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 15rem;
        background: $second-text;
        margin: 4rem auto 0 auto;
      }
    }
    .testimonial-description {
      color: $second-text;
      padding: 4rem 0;
      text-align: left;
    }
    .testimonial-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .testimonial {
        width: 45%;
        border-radius: 0.5rem;
        background: $second-text;
        padding: 2rem;

        .testimonial-img {
          display: block;
          border-radius: 1000px;
          width: 10rem;
          height: 10rem;
          background: $dark-placeholder;
          margin: 0 auto 3rem auto;
        }
        .testimonial-footer {
          font-family: 'Muli';
          font-weight: 400;
          margin: 2rem 0;

          .testimonial-link {
            display: inline-block;
            @include link-animation;
            &::after {
              margin-top: 5px;
            }
            color: $bright-bg;
          }
        }
      }
    }
  }
}

.columns {
  padding: 5rem 0;
  position: relative;

  .columns-content {
    width: $main-width;
    margin: 0 auto;

    a {
      display: inline-block;
      width: max-content;
      @include link-animation;
    }

    .columns-divider {
      left: 0;
      position: absolute;
      width: 100vw;
      height: 2px;
      background-color: $dark-placeholder;
    }

    .first-block {
      padding: 0 2rem;
      width: 100%;
      height: max-content;
      display: flex;
      text-align: center;

      .column-img {
        display: block;
        background-color: $dark-placeholder;
        width: 23rem;
        height: 23rem;
        border-radius: 1000px;
      }
      .column-btn {
        @include btn;
        background-color: $bright-bg;
        color: $second-text;
        font-size: 1.7rem;
        width: 15rem;
        height: 4rem;
        margin: 4rem 0;
      }
      .block-content {
        width: 50%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      h3 {
        padding: 3rem 0;
      }
      p {
        line-height: 2.2rem;
      }
    }
    .second-block {
      width: 100%;
      display: flex;
      a {
        color: $bright-bg;
        display: block;
        padding: 1rem 0;
      }
      h3 {
        margin: 4rem 0;
      }
      p {
        padding-right: 3rem;
        line-height: 2.2rem;
      }
      img {
        position: relative;
        top: 0.4rem;
        margin-right: 2rem;
        display: inline-block;
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

.video {
  background-color: $dark-bg;
  text-align: center;
  padding-bottom: 5rem;

  h3 {
    color: $second-text;
    padding: 5rem 0;
  }

  .video-link {
    display: block;
    color: $bright-bg;
    width: 14.8rem;
    margin: 0 auto;
    @include link-animation;
  }

  .video-iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-placeholder;
    margin: 5rem auto 0 auto;
    width: 48rem;
    height: 27rem;
    border-radius: 0.5rem;

    .video-icon {
      display: block;
      width: 8rem;
      -webkit-filter: drop-shadow(2px 2px 8px #6b6b6b);
      filter: drop-shadow(2px 2px 8px #6b6b6b);
    }
  }
}

.only-text {
  background-color: $second-text;

  .only-text-content {
    margin: 0 auto;
    width: $main-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;

    .divider {
      width: 20%;
      height: 2px;
      background-color: $dark-placeholder;
      margin: 5rem 0;
    }

    .boxes {
      display: flex;
      margin: 3rem 0;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .box {
        width: 32.5%;
        background-color: $dark-placeholder;
        height: 30rem;
        border-radius: 2px;
      }
    }
  }
}

.website {
  background-color: $dark-bg;

  .website-content {
    margin: 0 auto;
    width: $main-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h3 {
      color: $second-text;
      margin: 5rem 0;
    }
    .website-link {
      display: block;
      color: $bright-bg;
      @include link-animation;
    }

    .laptop {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .laptop-img {
        position: relative;
        z-index: 5;
        display: block;
        width: 60%;
      }

      .browser {
        position: absolute;
        width: 40rem;
        height: 26rem;
        top: 20.5%;
        background-color: $dark-placeholder;
        display: flex;
        justify-content: center;
        align-items: center;

        .reload {
          position: absolute;
          z-index: 10;
          padding: 1rem 0.75rem 1rem 1.25rem;
          cursor: pointer;
          display: block;
          border-radius: 50%;
          width: 8rem;
          -webkit-filter: drop-shadow(2px 2px 8px #6b6b6b);
          filter: drop-shadow(2px 2px 8px #6b6b6b);
        }
      }
    }
  }
}

.prices {
  padding: 5rem 0;

  .prices-content {
    width: $main-width;
    margin: 0 auto;

    h3 {
      text-align: center;
    }
    .divider {
      height: 2px;
      background-color: $dark-placeholder;
      width: 20%;
      margin: 3rem auto 0 auto;
    }

    .choose-plan {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .plan {
        flex-grow: 1;
        flex-basis: 0;
        border-radius: 0.35rem;
        margin: 1rem 0.5rem;
        background-color: $dark-placeholder;
        text-align: center;

        .plan-header {
          vertical-align: middle;
          color: $main-text;
          margin-top: 1.5rem;

          &::after {
            margin-top: 1.5rem;
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: $second-text;
          }
        }

        .plan-features {
          margin: 2rem 0;
          font-size: 1.4rem;
          li {
            margin: 2rem 0;
            color: $dark-text;
          }
        }

        span {
          font-size: 4rem;
          font-weight: 600;
          position: relative;

          sup {
            position: relative;
            top: -1.9rem;
            margin-right: 0.3rem;
            font-size: 35%;
          }

          sub {
            font-size: 45%;
            font-style: italic;
          }
        }

        .plan-btn {
          display: block;
          @include btn;
          margin: 3rem auto;
          width: 12rem;
          height: 3rem;
          background-color: $bright-bg;
          color: $second-text;
          font-size: 1.4rem;
        }

        &-active {
          color: $second-text;
          background-color: $dark-bg;

          .plan-header {
            color: $second-text;
            &::after {
              background-color: $dark-text;
            }
          }
          .plan-features {
            li {
              color: $second-text;
            }
          }
        }
      }
    }
  }
}

.info {
  background-color: $bright-bg;
  padding: 5rem 0;

  .info-content {
    width: $main-width;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .info-img {
      width: 5rem;
      margin: 2.5rem 0;
    }
    h3,
    p {
      color: $second-text;
    }
    p {
      margin: 3rem 0;
      width: 60rem;
    }
    .info-button {
      @include btn;
      font-size: 2rem;
      color: $dark-bg;
      background-color: $second-text;
    }
  }
}

.contacts {
  background-color: $dark-bg;
  padding: 4rem 0;

  .contacts-content {
    width: $main-width;
    margin: 0 auto;
    display: flex;

    .contacts-block {
      width: 50%;

      .contacts-icon {
        display: inline-block;
        width: 3rem;
        margin-right: 1rem;
      }
      h4 {
        display: inline;
        vertical-align: top;
      }
      p {
        color: $second-text;
        padding-top: 3rem;
      }
    }
  }
}

footer {
  background-color: $dark-bg;
  text-align: middle;

  .divider {
    width: 100%;
    height: 2px;
    background-color: $dark-text;
  }

  .footer-content {
    width: $main-width;
    padding: 4rem 0 5rem 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    .footer-link {
      display: inline-block;
      transition: 0.25s;

      &:hover {
        text-shadow: 1px 0px $bright-bg;
      }
    }

    p {
      display: block;
      line-height: 2.1rem;
      a {
        color: $bright-bg;
      }
    }

    li {
      display: inline;
      padding-left: 1rem;
      .icon {
        display: inline-block;
        width: 2.5rem;
      }
    }
  }
}
/*
    TYPOGRAPHY
*/

h1 {
  color: $second-text;
  font-size: 6rem;
  font-weight: bold;
  margin-top: 1rem;
}
h2 {
  color: $second-text;
  font-size: 3.5rem;
  font-weight: bold;
}
h3 {
  font-size: 3rem;
  color: $main-text;
  font-weight: 700;
}
h4 {
  color: $second-text;
  font-weight: 600;
  font-size: 2.7rem;
  letter-spacing: -0.08rem;
}
h5 {
  color: $main-text;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -0.08rem;
}
p {
  color: $second-text;
  font-size: 1.5rem;
  letter-spacing: 0.12rem;
  line-height: 3rem;
  color: $dark-text;
  font-weight: 400;
  hyphens: auto;
}
b {
  font-weight: 700;
}
a {
  letter-spacing: 0;
}

/*
    @MEDIA
*/

@media only screen and (max-width: 1368px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 11px;
  }
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 9px;
  }
}
