@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=cyrillic');
html {
  font-size: 12px;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}
/*----------------
    BUTTONS
----------------*/

.btn {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 65px 0px hsl(209, 40%, 90%);
  outline: none;
  padding: 0;
  border: none;
  border-radius: 1000px;
  width: 16rem;
  padding: 1rem;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

/*----------------
    HEADER
----------------*/

.header {
  z-index: 1000;
  position: fixed;
  top: -8rem;
  left: 12.5%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.menu, .search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-bottom: 2.5rem;
}

.logo {
  background-color: white;
  cursor: pointer;
  padding-top: 6rem;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
}

.logo h1 {
  letter-spacing: 3px;
  color: hsl(207, 100%, 63%);
  margin-bottom: 0;
  text-transform: uppercase;
  transform: scaleY(0.9);
}

.menu-icon {
  width: 100%;
}

/*----------------
    MAIN
----------------*/
.main {
  width: 100%;
  height: max-content;
  margin-bottom: 0;
  padding-top: 12rem;
  text-align: center;
}

.main h1 {
  margin-bottom: 2rem;
}

.main-btn {
  position: relative;
  display: block;
  margin: 5rem auto 0 auto;
  color: hsl(207, 100%, 63%);
  text-transform: uppercase;
  border-radius: 1000px;
}

.main-img {
  position: relative;
  top: -9rem;
  width: 100vw;
  height: 51vw;
  z-index: -1;
  background: url(../img/main.jpg), no-repeat;
  background-size: cover;
}

/*----------------
    Short Info (SINFO)
----------------*/
.sinfo {
  text-align: center;
  padding: 0 0 5rem 0;
}

.block {
  width: 20%;
}

.items {
  padding: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-icon {
  width: 5rem;
}

.sinfo-btn {
 line-height: 1.5rem;
 text-transform: uppercase;
 color:hsl(207, 100%, 63%);
}

/*----------------
    BOXES
----------------*/

.boxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.box {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f7f8fb;
}

.box-img {
  width: 50%;
}

.box-text {
  text-align: left;
  padding: 2rem 10% 2rem 10%;
  width: 50%;
  height: 200%;
}

/*----------------
    APPS
----------------*/

.apps {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 12.5%;
  overflow: hidden;
}

.app {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.app-img, .app-text {
  width: 50%;
  padding: 5%;
}

.app-text {
  display: block;
  text-align: left;
}

.app-text h1 {
 color:hsl(207, 100%, 63%);
}

.sflake1, .sflake2 {
  width: 40%;
  position: absolute;
}

.sflake1 {
  top: -5%; left: -1%;
}

.sflake2 {
  bottom: -10%; right: -5%;
}

/*----------------
    John Doe
----------------*/

.johndoe {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
}

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: hsl(225, 33%, 76%);
  opacity: 0.1;
}

.johndoe-img, .johndoe-text {
  width: 50%;
}

.johndoe-text {
  text-align: left;
  padding: 5%;
  padding-bottom: 0;
}

.johndoe-text h1 {
  color: #fe3254;
}

.ceo {
  color: hsl(0, 0%, 8%);
  margin-top: 4rem;
  margin-bottom: 1rem;
}

/*----------------
    FOOTER
----------------*/

.footer {
  position: relative;
  text-align: center;
  padding-top: 8rem;
}

.footer span, h1, button {
  position: relative;
  z-index: 2;
}

.footer-btn {
  margin: 4rem 0;
  color: hsl(207, 100%, 63%);
  text-transform: uppercase;
}

.footer-img {
  position: absolute;
  left: 0; top: 10rem;
  width: 100%;
}
/*----------------
    TYPOGRAPHY
----------------*/

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1.5rem 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem 0;
}

p {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: hsl(213, 9%, 81%);
}

span {
  display: block;
  color: hsl(213, 9%, 81%);
  font-weight: 600;
  letter-spacing: 0.1rem;
}

/*----------------
    @MEDIA

    >820px
    >450px

----------------*/

@media only screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
 .header {
   position: relative;
 }
 .main {
   padding-top: 0;
 }
 .block {
   width: 23%;
 }
 .sinfo-btn {
   font-size: 1.2rem;
 }
 .box-text {
  padding: 1rem 3% 1rem 3%;
 }
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 9px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    padding: 1.4rem 0;
  }
  .main-btn {
    font-size: 1.2rem;
  }
  .items {
    flex-direction: column;
    padding: 2rem 0;
  }
  .info-icon {
    width: 25%;
  }
  .block {
    width: 100%;
    padding: 3rem;
  }
  .box {
    flex-direction: column;
  }
  .box:last-child {
    flex-direction: column-reverse;
  }
  .box-text, .box-img {
    width: 100%;
  }
  .box-text {
    text-align: justify;
    padding: 0 1rem 4rem 1rem;
  }
  .apps {
    padding: 2rem 0;
  }
  .app-img {
    padding: 0;
  }
  .app:first-child .app-text {
    padding: 0;
    padding-right: 2rem;
  }
  .app:last-child .app-text {
    padding: 0;
    padding-left: 2rem;
  }
  .johndoe-text {
    padding: 0rem 0;
  }
  .johndoe-img {
    width: 45%;
    margin-top: auto;
  }
  .ceo {
    margin-top: 2rem;
  }
}
