@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&subset=cyrillic');
html {
  font-size: 12px;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}
:root {
   --btn-color: hsl(207, 100%, 63%);
}
/*----------------
    BUTTONS
----------------*/

.btn {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 65px 0px hsl(209, 40%, 90%);
  outline: none;
  padding: 0;
  border: none;
  border-radius: 1000px;
  width: 16rem;
  padding: 1rem;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

/*----------------
    HEADER
----------------*/

.header {
  z-index: 1000;
  position: fixed;
  top: -8rem;
  left: 12.5%;
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
}

.menu, .search {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-bottom: 2.5rem;
}

.logo {
  background-color: white;
  cursor: pointer;
  padding-top: 6rem;
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
}

.logo h1 {
  letter-spacing: 3px;
  color: #43a9ff;
  margin-bottom: -0.5rem;
  text-transform: uppercase;
  transform: scaleY(0.9);
}

.menu-icon {
  width: 100%;
}

/*----------------
    MAIN
----------------*/
.main {
  width: 100%;
  height: max-content;
  margin-bottom: 0;
  padding-top: 15rem;
  text-align: center;
}

.main h1 {
  margin-bottom: 2rem;
}

.main-btn {
  position: relative;
  display: block;
  margin: 5rem auto 0 auto;
  color: var(--btn-color);
  text-transform: uppercase;
  border-radius: 1000px;
}

.main-img {
  position: relative;
  top: -9rem;
  width: 100vw;
  height: 51vw;
  z-index: -1;
  background: url(../img/main.jpg), no-repeat;
  background-size: cover;
}

/*----------------
    Short Info (SINFO)
----------------*/
.sinfo {
  text-align: center;
  padding: 8rem 0;
}

.items {
  padding: 5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-icon {
  width: 5rem;
}

.sinfo-btn {
 text-transform: uppercase;
 color: var(--btn-color);
}

/*----------------
    TYPOGRAPHY
----------------*/

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem 0;
}

p {
  font-weight: 500;
  color: hsl(213, 9%, 81%);
}

span {
  color: hsl(213, 9%, 81%);
  font-weight: 600;
  letter-spacing: 0.1rem;
}